{% extends 'layout.html.twig' %}


{% block content %}

	<div class="container" style="margin-top: 10%">

		<!--section page 404-->
		<section class="accueil" id="accueil=Accueil" style="margin-bottom: 24%">

			<div class="jumbotron" >
				   
                <h1>Oops!<br>
                404 Not Found </h1>
                <div class="error-details">Désolé, la page demandée n'a pas été trouvée !!</div>
            
            </div>
       

	    </section>
		<!--fin de section page 404-->

	</div>

{% endblock %}
