{% extends 'layout.html.twig' %}


{% block content %}

	<div
		class="container">

		<!--section accueil-->


		<!--iframe src="C:\wamp64\www\cours-php-poo-corrigee\upload\sophie.pdf" height="200" width="300"></iframe-->


		<object data="C:\wamp64\www\cours-php-poo-corrigee\upload\sophie.pdf"  type="application/pdf" width="100%" height="100%">
            <p>It appears your Web browser is not configured to display PDF files.
                No worries, just <a href="C:\wamp64\www\cours-php-poo-corrigee\upload\sophie.pdf">click here to download the PDF file.</a>
            </p>
 
        </object>


	</section>


</div>{% endblock %}
