{% extends 'layout.html.twig' %}


{% block content %}

	<div class="container">

		<div class="" style="margin-bottom: 42% ">
			<object data="C:\wamp64\www\cours-php-poo-corrigee\upload\CV_RafikBengrid.pdf" type="application/pdf"></object>
		</div>

	</div>


{% endblock %}
