 {% extends 'layout.html.twig' %}

{% block content %}

 <div class="container">
 
 
 <!--section CONTACT et INSCRIPTION--> 
                <section class="contact_inscription" id="contact=contact">
                  
                              <div class="jumbotron">
                                  <h2 class="display-4">CONTACT</h2>
                                  <hr class="my-4">
                                                        <!--Section: Contact v.1-->
                          <section class="section pb-5">
                            <div class="row">

                              <!--Grid column-->
                              <div class="col-lg-6">
                              <form method="POST"  action="{{ URL }}/contact">

                                <!--Form with header-->
                                <div class="card">

                                  <div class="card-body">
                                    <!--Header-->
                                    <div class="form-header blue accent-1">
                                      <h3><i class="fas fa-envelope"></i> Nous contacter :</h3>
                                    </div>

                                    <h5>Contactez-nous au site en complétant le formulaire ci-dessous :</h5>
                                

                                    <!--Body-->
                                    <div class="md-form">
                                      <i class="fas fa-user prefix grey-text"></i>
                                      <label for="form-name">Nom</label>
                                      <input type="text" name="name" id="form-name" class="form-control">
                                    </div><br>

                                     <div class="md-form">
                                      <i class="fas fa-envelope prefix grey-text"></i>
                                      <label for="form-email"> email</label>
                                      <input type="email" name="email" id="form-email" class="form-control">
                                    </div><br>

                                    <div class="md-form">
                                      <i class="fas fa-tag prefix grey-text"></i>
                                      <label for="form-Subject">Objet</label>
                                      <input type="text" name="object" id="form-Subject" class="form-control">
                                    </div><br>

                                    <div class="md-form">
                                      <i class="fas fa-pencil-alt prefix grey-text"></i>
                                      <label for="form-text">Message</label>
                                      <textarea id="form-text"name="message" class="form-control md-textarea" rows="3"></textarea>
                                    </div><br>

                                
                                    <div class="text-center text-md-center">
                                      <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Envoyer</a>
                                  </div>
                                    
                                    
                                  <div class="status"></div>

                                  </div>
                                  

                                </div>
                                <!--Form with header-->

                              </div>
                              <!--Grid column-->
</div>