{% extends 'layout.html.twig' %}

{% block content %}


	<!-- Page Header -->
	<header class="masthead" style="background-image: url('Content/startbootstrap-clean-blog-gh-pages/img/home-bg.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Connexion</h1>
						<span class="subheading">Veuillez vous authentifier avec vos identifiants de connexion</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<p class="help-block text-danger">{{ msg }}</p>
				<p class="help-block text-success"></p>

				<form method="post" action="{{ URL }}/signin/connect" id="contactForm" novalidate>
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label for="username">Nom d'utilisateur</label>
							<input name="email" type="text" class="form-control" placeholder="Nom d'utilisateur" id="username" required data-validation-required-message="Veuillez renseigner ce champ.">
							<p class="help-block text-danger"></p>
						</div>
					</div>

					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label for="password">Mot de passe</label>
							<input name="pwd" type="password" class="form-control" placeholder="Mot de passe" id="password" required data-validation-required-message="Veuillez renseigner ce champ.">
							<p class="help-block text-danger"></p>
						</div>
					</div>

					<br>
					<br>
					<br>
					<div id="success"></div>
					<div class="form-group">
						<button type="submit" name="submitted" class="btn btn-primary" value="submitted">Connexion</button>
					</div>
				</form>
			</div>
		</div>

			<div class="row">
				<div class="col-8 mx-auto">
					<a href ="{{ URL }}/register"> Si vous n'avez pas de compte, merci de vous inscrire</a>
				</div>
			</div>
		
	</div><br><br><br>



{% endblock %}
