{% extends 'layout.html.twig' %}

{% block content %}

	<div class="container">

		<h2>Compte administrateur</h2>
		<br>

		<div class="alert alert-success">
			<p>Bienvenu sur votre compte <strong>{{ session.last_name }}</strong></p>

			Que souhaiez-vous faire, selectionner un page

			
		</div>
	</div>
		
{% endblock %}
