{% extends 'layout.html.twig' %}

{% block content %}


<body>
		<div class="container">

		<h2>Compte administrateur</h2>
		<br>
	

			<div class="alert alert-success" style="margin-bottom: 18% ; margin-top: 10%">
				<label>Bienvenu sur votre compte d'
					<strong>{{ session.last_name }}</strong>
				</label>
				<br>

				 Que souhaiteriez-vous faire, sélectionner un page :
				 <br/>
				 <br/>

								

				<div class="btn-group" role="group" aria-label="Basic mixed styles example">
					<a  href="{{ URL }}/admin/users" class="btn btn-danger">Utilisateurs</a>
					<a  href="{{ URL }}/article" class="btn btn-success">Articles</a>
					<a  href="{{ URL }}/admin/comments" class="btn btn-warning">Commentaires</a>

				</div>


			</div>
		</div>	

	</body>


	{% endblock %}
